/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.block { width: 100%; margin-bottom: 5px; margin-top: 5px;}
label{color:#000;}
.garis{border: 1px solid #000;}
table.striped > tbody > tr:nth-child(odd){background-color: #2196F3;}
table.highlight > tbody > tr:hover{background-color: #ffec61;}
.input-field label {color: #000;}
/* label focus color */
.input-field input[type=text]:focus + label {color: #000;}
/* label underline focus color */
.input-field input[type=text]:focus {border-bottom: 1px solid #2196F3;box-shadow: 0 1px 0 0 #2196F3;}
/* label underline color */
.input-field input[type=text] {border-bottom: 1px solid #2196F3;box-shadow: 0 1px 0 0 #2196F3;}
/* valid color */
.input-field input[type=text].valid {border-bottom: 1px solid #2196F3;box-shadow: 0 1px 0 0 #2196F3;}
/* invalid color */.input-field input[type=text].invalid {border-bottom: 1px solid #2196F3;box-shadow: 0 1px 0 0 #2196F3;}
/* icon prefix focus color */
.input-field .prefix.active {color: #000;}
.warna-baru{background-color: #651fff}
.icon-block{padding:0 15px;}
.icon-block .material-icons{font-size: inherit;}
.redchef{background-color:#f90808;}
.redchef-text{color:#f90808;}
.collection{border:1px solid #f90808;}
.collection a.collection-item{color: #f90808;}
.collection .collection-item{border-bottom:1px solid #f90808;}
.collection a.collection-item:not(.active):hover{background-color:#f90808;color:#fff;}
.collapsible.popout > li{-webkit-box-shadow:10px 10px 10px 10px rgba(252, 14, 14, 0.12),10px 5px 10px 10px rgba(252, 14, 14, 0.12);box-shadow:10px 10px 10px 10px rgba(252, 14, 14, 0.12),10px 5px 10px 10px rgba(252, 14, 14, 0.12);margin: 0 24px;-webkit-transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);}
.collapsible.popout>li.active{-webkit-box-shadow:10px 10px 10px 10px rgba(252, 14, 14, 0.12),10px 10px 10px 10px rgba(252, 14, 14, 0.12);box-shadow:10px 10px 10px 10px rgba(252, 14, 14, 0.12),10px 10px 10px 10px rgba(252, 14, 14, 0.12);margin: 16px 0;}
.collapsible-header{border-bottom:1px solid #000;}
.btn-floating{border:1px solid #fff;top:13px;left:-10px;background-color:#2196F3;}
.btn-floating:hover{background-color:#2196F3;}
ol.sty{list-style-type:disc;}
h6{margin-left:25px;font-weight:bold;}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus{background-color:#2196F3;}
a.btn-small{background-color:#f90808;color:#fff;margin-left:20px;margin-bottom:20px;}
/*a.btn-small:hover{background-color:#f90808;color:#fff;}*/
a.btn-small:hover{background:#fff;color:#f90808;}
a.btn-small:before,a.btn-small:after{content:'';position:absolute;top:0;right:0;height:2px;width:0;background: #f90808;transition:400ms ease all;}
a.btn-small:after{right:inherit;top:inherit;left:0;bottom:0;}
a.btn-small:hover:before,a.btn-small:hover:after{width:100%;transition:800ms ease all;}
.card .card-content{padding:20px;text-align:center;margin-top:20px;margin-bottom:20px;}
.card .card-content .card-title{font-weight:bold;}
.text{font-weight: bold;}
#text2{font-weight: bold;margin-right: 15px;}
.text3{font-weight:bold;margin-left:60px;margin-right:60px;}
a{color:#f90808;}
a:hover{font-weight: bold;}
.materialboxed,.materialboxed.active{cursor:pointer;}
#materialbox-overlay{background-color:#fff;}
.background{height:200px;}
.collection .collection-item.avatar{min-height: 60px;}
.collection .collection-item.avatar p{margin-top:10px;}
@media only screen and (max-width:992px){nav .brand-logo{text-align: center;font-size: 24px;}}
